{% if admin.hasRoute('delete') and admin.isGranted('DELETE') and object.deletedAt is null %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default delete_link" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-remove"></i>
        {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
{% if admin.hasRoute('hard_delete') and admin.isGranted('HARD_DELETE') and object.deletedAt is not null %}
    <a href="{{ admin.generateObjectUrl('hard_delete', object) }}" class="btn view_link btn-sm btn-default" title="{{ 'hard_delete'|trans({}, 'MopaBackendBundle') }}">
        <i class="glyphicon glyphicon-remove"></i>
        {{ 'hard_delete'|trans({}, 'MopaBackendBundle') }}
    </a>
{% endif %}
